.category {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 230px;
    cursor: pointer;
    position: relative;
}

.category__title span {
    font-weight: normal;
}

.category__img {
    width: 130px;
    height: 130px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;

}