.cart-product {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 280px;
    position: relative;
    border: solid 2px;
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-weight: bold;
}


.cart-product__image {
    width: 150px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: auto;
}



.cart-product__quantity, .cart-product__price, .cart-product__subtotal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.cart-product__quantity--buttons, .cart-product__price--value, .cart-product__subtotal--value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-column: 2;
}

.cart-product__quantity--value {
    text-align: center;
    padding: 0 10px;
    width: auto;
}

.cart-product__button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 1px #00A3;
    font-size: 20px;
    cursor: pointer;
    background-color: #00A3E8;
    color: white
}

.cart-product__button--remove-all {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: white;
    color: black;
}

.cart-product__button--remove-all:hover {
    color: #F92410;
}