* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  position: relative;
  min-height: 100vh;
}

.section {
  margin: 160px auto 90px auto;
  display: flex;
  width: 90%;
  text-align: justify;
}

.title {
  color: #F92410;
  font-family: 'Princess Sofia', cursive;
  text-align: center;
  font-size: 2em;
  padding: 10px;
}

.subtitle {
  font-family: 'Poor Story', cursive;
  text-align: center;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: black;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media only screen and (min-width:1024px) {}